* {
  margin: 0;
  padding: 0;
}

body {
  background: #efebe9;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

img,
a {
  display: block;
}

ul {
  list-style-type: none;
}

.mid {
  max-width: 1050px;
  margin: auto;
}

.ta_c {
  text-align: center;
}

.ta_r {
  text-align: right;
}

.d_flx {
  display: flex;
}

.jc_c {
  justify-content: center;
}

.ali_c {
  align-items: center;
}

.jc_spb {
  justify-content: space-between;
}

.jc_spa {
  justify-content: space-around;
}

.flw_w {
  flex-wrap: wrap;
}

.d_grid {
  display: grid;
}
/* 
header styles starts
*/

.header {
  background-color: #9e9e9e;
}

.header > .mid {
  background-color: #616161;
}

.header .logo,
.header .search {
  flex: 2;
}

.header .socials {
  flex: 3;
}

.header .logo > .toggler {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  height: 40px;
}

.header .logo > .toggler .minus,
.header .logo > .toggler .bars {
  text-align: center;
  margin-left: 15px;
  margin-right: 5px;
}
.header .logo > .toggler .bars {
  font-size: 30px;
}

.header .logo > .toggler .minus {
  width: 25px;
  background: #fff;
  height: 5px;
  display: block;
}

.header .search [type="search"],
.header .search [type="submit"] {
  border: 1px solid #ccc;
}

.header .search [type="search"]:focus,
.header .search [type="submit"]:focus {
  outline: none;
}

.header .search [type="search"] {
  width: 240px;
  font-size: 16px;
  padding: 5px 10px;
}

.header .search [type="submit"] {
  padding: 0 10px;
  cursor: pointer;
}
.header .socials > ul {
  gap: 5px;
  flex-direction: row-reverse;
  padding-right: 20px;
}

.header .socials > ul > li a {
  font-size: 22px;
  color: #fff;
  padding: 5px 10px;
  transition: 0.3s;
}

.header .socials > ul > li a:hover {
  background-color: #d50000;
}

.head_menu ul.menu_main {
  background-color: #e0e0e0;
}

.head_menu ul.menu_main > li > a {
  font-size: 14px;
  line-height: 45px;
  color: #555;
  padding: 0px 25px;
  text-transform: uppercase;
}

.head_menu ul.menu_main > li > a:hover {
  background-color: #d50000;
  color: #fff;
}

/* 
header styles end
footer styles start
*/

.footer_main {
  padding: 20px 0;
}

.foo_menu {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #889091;
}

.foo_menu > li {
  padding: 0 10px;
}

.foo_menu > li > a {
  color: #333;
  font-size: 11px;
  font-family: arial;
  padding: 5px 0;
}

.foo_menu > li > a:hover {
  color: #d50000;
  text-decoration: underline;
}

/* 
footer styles end
*/

/* 
mainContents styles starts
*/

.main_contents .wrapper_contents {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
  gap: 10px;
}

.sidebar {
  flex: 2;
}

.contents_all {
  flex: 5;
}

.sidebar {
  border-right: 1px solid #eee;
}

.sidebar .phone_finder .title {
  background-color: #bbb;
  font-size: 14px;
  color: #fff;
  padding: 10px 0;
  gap: 5px;
  text-transform: uppercase;
}

.sidebar .phone_finder .title i {
  color: #0006;
  font-size: 18px;
}

.sidebar .phone_finder .title:hover,
.sidebar .phone_finder .title:hover i {
  background-color: #d50000;
  color: #fff;
}

.sidebar .phone_finder .brands {
  background-color: #ebecec;
}

.sidebar .phone_finder .brands a {
  font-size: 11px;
  color: #575757;
  text-transform: uppercase;
  padding: 5px 0;
}

.sidebar .phone_finder .brands a:hover {
  color: #fff;
  background-color: #d50000;
}

.sidebar .phone_finder .brands > ul {
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}
.sidebar .phone_finder .brands > ul li {
  border-left: 1px solid #ccc;
}
.sidebar .phone_finder .brands > ul li:nth-child(4n + 1) {
  border-left: none;
}

.sidebar .phone_finder .bottom_titles > a {
  flex: 1;
}

.sidebar .advertise,
.sidebar .top_10 {
  padding: 20px 10px;
}
/* 
.sidebar table {
  text-align: left;
}

.sidebar table thead,
.sidebar table tbody {
  display: block;
  width: 100%;
}

.sidebar table tr {
  display: flex;
  justify-content: space-between;
} */

/* 
sidebar top 10 lists
*/

.top_10 {
  margin-top: 20px;
}

.top_10 > .title {
  text-transform: uppercase;
  border-left: 10px solid #d9d9d9;
  margin-left: -10px;
  padding-left: 10px;
  color: #777;
  font-size: 17px;
}

.top_10 .list_head {
  margin-top: 10px;
  background-color: #a4c08d;
  color: #fff;
  padding: 5px 15px;
  padding-left: 35px;
  text-transform: capitalize;
  font-size: 10px;
}

.top_10 .phones > li {
  padding: 2px 5px;
  padding-right: 15px;
}

.top_10 .phones > li:nth-child(even) {
  background-color: #e8eff6;
}

.top_10 .phones > li,
.top_10 .phones > li a {
  font-size: 15px;
  color: #555;
}

.top_10 .phones > li a:hover {
  color: #d50000;
  text-decoration: underline;
}

.top_10 .phones .index {
  padding-right: 10px;
  width: 20px;
}

/* 
banner styles
*/

.contents_all .banner {
  position: relative;
  height: 315px;
}
.contents_all .banner > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.contents_all .banner .jhapsha {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 100%;
}

.contents_all .banner .title {
  color: #fff;
  padding: 40px 0;
  padding-left: 50px;
  margin-top: auto;
  text-transform: uppercase;
  font-size: 34px;
}

.contents_all .device {
  flex: 1;
  flex-basis: 17%;
  max-width: 150px;
  padding: 15px 0;
}

.contents_all .device h2 {
  color: #777;
  text-transform: capitalize;
  padding: 10px 0;
  font-size: 14px;
  background-color: #f5f5f566;
}

.contents_all .device a:hover h2 {
  background-color: #d50000;
  color: #fff;
}

.contents_all .device img {
  width: 80%;
  margin: 10px auto;
}
